.group{
    background-color: black;
    width:1519.5px;
    height:1000px;
    margin-top:-18px;
}
.form{
    background-color:rgb(200, 202, 59);
    margin-top:10px;
    margin-left: 500px;
    border: 5px solid rgb(200, 202, 59);
    position:absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
    width:500px;
}
.form-group{
    padding-left:150px;
    margin:10px 2px;
}
.form-control{
    margin:3px 0px;
    padding: 5px;
    border: none;
    width: 200px;
    border-radius: 3px;
    box-shadow:0 0 3px blue;
    color:orangered;
    display: block;
    outline:none;
   
}
.form-control:focus{
    box-shadow: 0 0 3px orangered;
}
.button{
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 3px gray;
    padding:5px 10px;
    outline: none;
}
.button:focus{
    box-shadow: 0 0 3px orangered;
    color:orangered;
}
.button:disabled{
    text-decoration: line-through;
}